name: Publish

on:
  release:
    types: [published]

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org/

      - name: Install the latest version of the npm CLI
        run: npm install -g npm@latest

      - name: Install dependencies, build and publish
        run: |
          npm ci
          npm run build
          npm publish
